In [ ]:
import kagglehub
import pandas as pd
from sklearn.preprocessing import StandardScaler
import os

In [32]:
# Download
path = kagglehub.dataset_download("teejmahal20/airline-passenger-satisfaction")
df = pd.read_csv(os.path.join(path, "train.csv"), index_col=0, header=0)

In [33]:
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [34]:
df['satisfaction'].value_counts()

satisfaction
neutral or dissatisfied    58879
satisfied                  45025
Name: count, dtype: int64

In [35]:
categorical_vars = df.select_dtypes(include=['object']).columns.tolist()
numeric_vars = df.select_dtypes(include=['number']).columns.tolist()

print("Categorical variables:", categorical_vars)
print("Numeric variables:", numeric_vars)

Categorical variables: ['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction']
Numeric variables: ['id', 'Age', 'Flight Distance', 'Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Baggage handling', 'Checkin service', 'Inflight service', 'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes']

In [ ]:
# process categorical variables to enter a model
df = pd.get_dummies(df, columns=categorical_vars, drop_first=True)

In [26]:
df.head()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,...,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,70172,13,460,3,4,3,1,5,3,5,...,5,5,25,18.0,True,False,True,False,True,False
1,5047,25,235,3,2,3,3,1,3,1,...,4,1,1,6.0,True,True,False,False,False,False
2,110028,26,1142,2,2,2,2,5,5,5,...,4,5,0,0.0,False,False,False,False,False,True
3,24026,25,562,2,5,5,5,2,2,2,...,4,2,11,9.0,False,False,False,False,False,False
4,119299,61,214,3,3,3,3,4,5,5,...,3,3,0,0.0,True,False,False,False,False,True

In [38]:
scaler = StandardScaler()
df[numeric_vars] = scaler.fit_transform(df[numeric_vars])

In [41]:
df.to_csv("../data/processed_airline_passenger_satisfaction.csv", index=False)